* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo {
    width: 100px;
    
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a{
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 5px #000;
}
.menu li a:hover,
.menu .active a{
    border-bottom: solid 5px #B28756;
    color: #CCC;
}
.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
}
.banner {
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url('../icones/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vh;
    height:100%;
}
.banner .slide {
    width: 100vw;
    height:100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.banner h1 span{
    color: #B28756;
    
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #B28756;
}
.default {
    padding: 50px 0px;
}
.default .section-title {
    font-size: 20px; 
}
.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #FFF;
}



















/* CSS DE AREAS ESPECIFICAS */

.section-aboutus {
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 20px;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}
.section-services {
    display: flex;
}
.section-service {
   flex: 1;
   text-align: center;
   border-right: solid 1px #333;
   padding: 15px;
}
.section-service:first-child {
    border-left: solid 1px #333;
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
 }
 .section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
 }
 .section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.section-projects-filters {
    border: 1px solid #ccc;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    margin: auto;
}
.section-projects-filters ul,
.section-projects-filters li{
   list-style: none;
}
.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
 }
 .section-projects li:hover,
 .section-projects li.active {
    border-bottom: 3px solid #B28756;
 }
 .section-projects li:first-child {
     border-left: none;
 }
 .section-projects--photos {
     width: 100vw;
     max-width: 1140px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 20px;
 }
 .section-projects--photo {
     width: 280px;
 }
 .section-projects--photoarea {
     margin: 10px;
     width: 260px;
     height: 160px;
 }
 .section-projects--photoarea img {
     width: inherit;
     height: inherit;
 }
 .section-projects--photoinfo {
     position: absolute;
     background-color: rgba(0, 0, 0, 0.5);
     width: inherit;
     height: inherit;
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #FFF;
 }
 .section-projects--photoinfo h5{
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 600;
 }
 .section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
 }
 .section-team {
     overflow: hidden;
     max-width: 880px;
     margin: auto;
 }
 .bg-team {
     background-image: url('../icones/bg.jpg');
     background-size: cover;
     background-position: center;
     padding: 0;
 }
 .section-team-area {
     background-color: rgba(0, 0, 0, 0.8);
     padding: 50px 0px;
 }
 .section-team .sliders {
    width: 1000vh;
    height:100%;
}
.section-team .slide {
    width: 280px;
    height:100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}
.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #B28756;
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-team--social {
    display: flex;
    margin-top: 20px;
}
.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover {
    background-color: #B28756;
}
.default.light.clients{
    padding: 0;
}
.section-clients {
    height: 100vh;
    padding-top: 50px ;
    overflow: hidden;
}
.section-clients .sliders {
    width: 1000vh;
    height: 100%;
}
.section-clients .slide {
    width: 100vw;
    height:100%;
    display: inline-block;
}
.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}

.section-clients .slidearea img{
    margin-left: -15px;
}
.section-clients--name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
    margin-left: -15px;
}
.section-clients--role {
    font-size: 13px;
    color: #000;
    margin-top: 5px;
    font-weight: 600;
    margin-left: -15px;
}
.section-clients--descric {
    margin-top: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: -15px;
}
.section-clients--descric p span{
    font-size: 50px;
    color: #999;
}
.section-clients--descric p{
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
.section-clients .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-clients .pointer.active {
    background-color: #B28756;
}
.empresa-ad {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #FFF;
}
.section-empresas {
    width: 100vw;
    max-width: 900px;
    height: 160px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section-empresas--logoarea {
    display: inline-block;
}
.section-price--pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section-price--pricingtable {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
    margin-left: 30px;
    margin-top: 30px;
}
.section-price--pricingtable:first-child {
    margin-left: 0px;
}
.section-price--pricingtable .title{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}
.section-price--pricingtable .price{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}
.section-price--pricingtable .month{
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-price--pricingtable .topic{
    font-size: 10px;
    font-weight: 600;
    color: #555;
}
.section-price--pricingtable .bar{
    background-color: #555;
    margin: 7px;
    width: 7px;
    height: 1px;
}
.section-price--pricingtable .button{
    margin-top: 25px;
    background-color: #373737;
}
.section-price--pricingtable .button.active{
    background-color: #B28756;
}
.default.light.premium{
    padding-top: 0;
    background-color: #FFF;
}
.section-premium {
    height: auto;
    padding-top: 65px ;
    overflow: hidden;
}
.section-premium .sliders {
    width: 1000vh;
    height: 100%;
}
.section-premium .slide {
    width: 100vw;
    height:100%;
    display: inline-block;
}
.section-premium .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}
.section-premium--slidecontents {
    width: 100vw;
    max-width: 1110px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    border-bottom: solid 1px #CCC;
    padding-bottom: 45px;
}
.section-premium--slidecontents-left,
.section-premium--slidecontents-right {
    flex: 1;
    height: auto;
}
.section-premium--slidecontents-right {
    text-align: start;
}
.section-premium--slidecontents-left {
    text-align: center;
}
.section-premium--slidecontents-left img{
    max-width: 330px;
    margin: 0px;
    margin-bottom: 30px;
}
.slidecontents-right--desc1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.slidecontents-right--desc1:first-child {
    margin-bottom: 25px;
}
.slidecontents-right--desc1::first-letter {
    margin: 0;
}
.slidecontents-right--icon {
    margin-right: 25px;
}
.slidecontents-right--info h1 {
    margin:0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.slidecontents-right--text {
    line-height: 25px;
    color: #999;
}
.slidecontents-right--itens {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
}
.section-premium .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-premium .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-premium .pointer.active {
    background-color: #B28756;
}
.section-premium .slidearea .button {
    margin-top: 85px;
}