* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo {
    width: 100px;
    
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}
.menu input {
    display: none;
}
.menu label {
    display: none;
    margin-right: 30px;
}

.bar-menu-mobile {
    width: 35px;
    height: 6px;
    background-color: #B28756;
    margin: 5px;
    border-radius: 7px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a{
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 5px #000;
}
.menu li a:hover,
.menu .active a{
    border-bottom: solid 5px #B28756;
    color: #CCC;
}
.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
}
.banner {
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url('../icones/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vh;
    height:100%;
    transition: 1s linear;
}
.banner .slide {
    width: 100vw;
    height:100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.banner h1 span{
    color: #B28756;
    
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #B28756;
}
.default {
    padding: 50px 0px;
}
.default .section-title {
    font-size: 20px; 
}
.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #FFF;
}



















/* CSS DE AREAS ESPECIFICAS */

.section-aboutus {
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 20px;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}
.section-services {
    display: flex;
}
.section-service {
   flex: 1;
   text-align: center;
   border-right: solid 1px #333;
   padding: 15px;
}
.section-service:first-child {
    border-left: solid 1px #333;
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
 }
 .section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
 }
 .section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.section-projects-filters {
    border: 1px solid #ccc;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    margin: auto;
}
.section-projects-filters ul,
.section-projects-filters li{
   list-style: none;
}
.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
 }
 .section-projects li:hover,
 .section-projects li.active {
    border-bottom: 3px solid #B28756;
 }
 .section-projects li:first-child {
     border-left: none;
 }
 .section-projects--photos {
     width: 100vw;
     max-width: 1140px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 20px;
 }
 .section-projects--photo {
     width: 280px;
 }
 .section-projects--photoarea {
     margin: 10px;
     width: 260px;
     height: 160px;
 }
 .section-projects--photoarea img {
     width: inherit;
     height: inherit;
 }
 .section-projects--photoinfo {
     position: absolute;
     background-color: rgba(0, 0, 0, 0.5);
     width: inherit;
     height: inherit;
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #FFF;
 }
 .section-projects--photoinfo h5{
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 600;
 }
 .section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
 }
 .section-team {
     overflow: hidden;
     max-width: 880px;
     margin: auto;
 }
 .bg-team {
     background-image: url('../icones/bg.jpg');
     background-size: cover;
     background-position: center;
     padding: 0;
 }
 .section-team-area {
     background-color: rgba(0, 0, 0, 0.8);
     padding: 50px 0px;
 }
 .section-team .sliders {
    width: 1000vh;
    height:100%;
}
.section-team .slide {
    width: 280px;
    height:100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}
.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #B28756;
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-team--social {
    display: flex;
    margin-top: 20px;
}
.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover {
    background-color: #B28756;
}
.default.light.clients{
    padding: 0;
}
.section-clients {
    height: 100vh;
    padding-top: 50px ;
    overflow: hidden;
}
.section-clients .sliders {
    width: 1000vh;
    height: 100%;
}
.section-clients .slide {
    width: 100vw;
    height:100%;
    display: inline-block;
}
.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}

.section-clients .slidearea img{
    margin-left: -15px;
}
.section-clients--name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
    margin-left: -15px;
}
.section-clients--role {
    font-size: 13px;
    color: #000;
    margin-top: 5px;
    font-weight: 600;
    margin-left: -15px;
}
.section-clients--descric {
    margin-top: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: -15px;
}
.section-clients--descric p span{
    font-size: 50px;
    color: #999;
}
.section-clients--descric p{
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
.section-clients .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-clients .pointer.active {
    background-color: #B28756;
}
.empresa-ad {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #FFF;
}
.section-empresas {
    width: 100vw;
    max-width: 900px;
    height: 160px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section-empresas--logoarea {
    display: inline-block;
}
.section-price--pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section-price--pricingtable {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
    margin-left: 30px;
    margin-top: 30px;
}
.section-price--pricingtable:first-child {
    margin-left: 0px;
}
.section-price--pricingtable .title{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}
.section-price--pricingtable .price{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}
.section-price--pricingtable .month{
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-price--pricingtable .topic{
    font-size: 10px;
    font-weight: 600;
    color: #555;
}
.section-price--pricingtable .bar{
    background-color: #555;
    margin: 7px;
    width: 7px;
    height: 1px;
}
.section-price--pricingtable .button{
    margin-top: 25px;
    background-color: #373737;
}
.section-price--pricingtable .button.active{
    background-color: #B28756;
}
.default.light.premium{
    padding-top: 0;
    background-color: #FFF;
}
.section-premium {
    height: auto;
    padding-top: 65px ;
    overflow: hidden;
}
.section-premium .sliders {
    width: 1000vh;
    height: 100%;
}
.section-premium .slide {
    width: 100vw;
    height:100%;
    display: inline-block;
}
.section-premium .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}
.section-premium--slidecontents {
    width: 100vw;
    max-width: 1110px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    border-bottom: solid 1px #CCC;
    padding-bottom: 45px;
}
.section-premium--slidecontents-left,
.section-premium--slidecontents-right {
    flex: 1;
    height: auto;
}
.section-premium--slidecontents-right {
    text-align: start;
}
.section-premium--slidecontents-left {
    text-align: center;
}
.section-premium--slidecontents-left img{
    max-width: 330px;
    margin: 0px;
    margin-bottom: 30px;
}
.slidecontents-right--desc1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.slidecontents-right--desc1:first-child {
    margin-bottom: 25px;
}
.slidecontents-right--desc1::first-letter {
    margin: 0;
}
.slidecontents-right--icon {
    margin-right: 25px;
}
.slidecontents-right--info h1 {
    margin:0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.slidecontents-right--text {
    line-height: 25px;
    color: #999;
}
.slidecontents-right--itens {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;
}
.section-premium .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-premium .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-premium .pointer.active {
    background-color: #B28756;
}
.section-premium .slidearea .button {
    margin-top: 85px;
}
.default.light.sociais {
    padding: 0;
    background-color: #FFF;
}
.section-sociais {
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 20px 0px;
    border-bottom: 1px solid #CCC;
}
.section-sociais-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-sociais--text {
    margin-left: 15px;
    margin-right: 30px;
    font-size: 14px;
    color: #CCC;
    text-transform: uppercase;
    font-weight: 600;
}
.section-sociais--icons {
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.section-sociais--number {
    font-size: 10px;
    color: #CCC;
    font-weight: 600;
}
.section-facts--area {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.section-facts--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
    padding: 20px 0px;
}
.section-facts--box h1 {
    font-size: 35px;
    color: #B28756;
}
.section-facts--box-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px;
}
.section-facts--box-desc{
    font-size: 10px;
    color: #999;
}
.section-facts--box .bar {
    width: 20px;
    height: 4px;
    background-color: #999;
    margin-bottom: 10px;
}
.section-contact form {
    max-width: 540px;
    margin: auto;
}
.section-contact form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 0px;
}
.section-contact form input:focus{
    outline: none !important;
    border: none;
    border-bottom: 1px solid #B28756;
}
.section-contact form .form-line1{
    max-width: 540px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.section-contact form .form-line1 input{
    width: 255px;
}
.section-contact form .form-line1 input::first-letter{
    margin-right: 0;
}
.section-contact form .form-line2{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.section-contact form .form-line2 input{
    max-width: 540px;
}
.section-contact form .form-line2 input:first{
    margin-bottom: 60px;
}
.section-contact form .form-line3{
    max-width: 540px;
    text-align: center;
}
.section-contact form .form-line3 button{
    border: none;
}
.section-map {
    background-image: url('../icones/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
}
.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto
}
.section-map--info {
    width: 50%;
    padding: 30px;
    background-color: #FFF;
    color:#000
}
.section-map--info-item {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}
.section-map--info-item-img{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #CCC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.section-map--info-item-img img{
    width: 15px;
    height: auto;
}
footer {
    background-color: #000;
    color: #FFF;
    font-weight: 600;
}
footer .section-body {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    padding: 25px 0px;
    justify-content: space-between;
}
footer .section-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 162px;
    padding-right: 20px;
    
}
footer .section-area address {
    display: flex;
}
footer .section-area a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #363838;
    margin-right: 5px;
    text-decoration: none;
}
footer .section-area p {
    color: #999;
    text-align: start;
    font-size: 10px;
    line-height: 18px;
}
footer .section-area form {
    background-color: #373737;
    width: 255px;
    padding: 30px 45px;
}
footer .section-area form input,
footer .section-area form button {
    display: block;
    border: none;
    margin: auto;
}
footer .section-area form input {
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 3px solid #B4B4B4;  
    width: 100%;
    padding: 10px;
    outline: 0;
    color: #B4B4B4;
    font-size: 14px;
}
footer .section-area form input::placeholder {
    text-align: center;
    color: #B4B4B4;
}



@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left: 30px;
    }

    .menu label {
        display: block;
    }

    nav {
        transform: translateX(100%);
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        transition: all 0.3s linear;
    }

    .menu li {
        opacity: 0;
        transform: translateX(100px);
        transition: all 0.5s linear;
    }

    #abrir-menu:checked~nav {
        transform: translateX(0%);
    }

    #abrir-menu:checked~nav li { 
        opacity: 1;
        transform: translateX(0%);
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: none;
    }

    .menu li a:hover,
    .menu .active a{
        border: none;
        color: #B28756
    }

    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: center;
    }

    .section-aboutus--right {
        width: auto;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-team {
        max-width: 580px;
    }

    .section-clients {
        height: 70vh;
    }

    .section-clients--descric p {
        display: block;
        width: 80%;
        margin: auto;
    }

    .section-empresas {
        justify-content: space-between;
    }

    .section-empresas--logoarea {
        min-width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-price--pricing {
        justify-content: space-around;
    }

    .section-price--pricingtable {
        min-width: 40%;
        margin: 0;
        margin-bottom: 30px;
    }

    .section-premium--slidecontents {
        flex-direction: column;  
    }

    .section-premium--slidecontents-right {
        width: 70%;
        margin: auto;
    }

    .section-facts--box {
        min-width: 50%;
    }

    .section-sociais-area {
        flex-wrap: wrap;
    }

    .section-sociais--share,
    .section-sociais--text {
        min-width: 45%;
        margin-bottom: 20px;
    }

    .section-sociais--share {
        text-align: end;
        margin-right: 7.5px;
    }

    .section-sociais--text {
        text-align: start;
        padding-bottom: 4px;
        margin-left: 7.5px;
    }

    .section-contact form .form-line1 {
        justify-content: space-around;
    }

    .section-contact form .form-line1 input {
        width: 0;
        min-width: 45%;  
    }

    .section-contact form .form-line2 {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    .section-contact form .form-line2 input {
        
        min-width: 95%;
    }

    .section-map {
        padding: 30px;
    }

    .section-map--area {
        width: auto;
        
    }

    .section-map--info {
        width: auto;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0;
    }

    footer {
        height: auto;
        padding: 30px;
        text-align: center;
    }

    footer .section-body {
        padding: 0;
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    footer .section-area {
        height: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: justify;
        width: 100%;
    }

    footer .section-area p {
        text-align: justify;
    }

    footer .section-area form {
        width: 70%;
    }
    
}   


@media (max-width:450px) {
    .logo {
        margin-left: 30px;
    }
    
    .menu label {
        display: block;
    }

    nav {
        transform: translateX(100%);
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        transition: all 0.3s linear;
    }

    .menu li {
        opacity: 0;
        transform: translateX(100px);
        transition: all 0.5s linear;
    }

    #abrir-menu:checked~nav {
        transform: translateX(0%);
    }

    #abrir-menu:checked~nav li { 
        opacity: 1;
        transform: translateX(0%);
    }

    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 17px;
        margin-left: 30px;
        border: none;
    }

    .menu li a:hover,
    .menu .active a{
        border: none;
        color: #B28756
    }

    .banner h1 {
        font-size: 30px;
    }

    .banner h2 {
        font-size: 17px;
    }


    .section-aboutus {
        flex-direction: column;
    }
    .section-aboutus--left {
        margin-left: 30px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: center;
    }

    .section-aboutus--right {
        width: auto;
        margin: 0px 30px;
    }

    .section-aboutus--right img {
        width: 100%;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border-left: 0;
    }

    .section-projects-filters {
        margin: 0px 30px;
    }

    .section-projects-filters ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .section-projects-filters li {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 3px solid #ccc;
    }
     
    .section-projects li:first-child {
        border-left: 2px solid #ccc;
    }

    .section-projects li:last-child {
        border-left: 2px solid #ccc;
    }

    .section-projects--photo {
        width: 320px;
    }

    .section-projects--photoarea {
        width: 300px;
        height: 190px;
    }

    .section-team {
        max-width: 280px;
    }

    .section-clients {
        height: 90vh;
    }

    .section-clients--descric p {
        display: block;
        width: 80%;
        margin: auto;
    }

    .section-empresas {
        justify-content: space-between;
        height: auto;
    }

    .section-empresas--logoarea {
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .section-price--pricing {
        justify-content: space-around;
    }

    .section-price--pricingtable {
        min-width: 40%;
        margin: 0;
        margin-bottom: 30px;
    }

    .section-premium--slidecontents {
        flex-direction: column;
        
        
    }

    .section-premium--slidecontents-right {
        width: 70%;
        margin: auto;
    }

    .section-facts--box {
        min-width: 100%;
    }

    .section-sociais-area {
        flex-wrap: wrap;
    }

    .section-sociais--share,
    .section-sociais--text {
        margin-bottom: 20px;
    }

    .section-sociais--text {
        min-width: 50%;
    }

    .section-sociais--share {
        min-width: 32.5%;
        text-align: end;
        margin-right: 7.5px;
    }

    .section-sociais--icons {
        margin-left: 15px;
    }

    .section-sociais--text {
        text-align: start;
        padding-bottom: 4px;
        margin-left: 7.5px;
    }

    .section-contact form .form-line1 {
        justify-content: space-around;
    }

    .section-contact form .form-line1 input {
        width: 0;
        min-width: 45%;
        
    }

    .section-contact form .form-line2 {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    .section-contact form .form-line2 input {
        
        min-width: 95%;
    }

    .section-map {
        padding: 0;
        padding-bottom: 375px;
    }
    .section-map--area {
        width: auto;
        
    }
    .section-map--info {
        width: auto;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0;
    }

    footer {
        height: auto;
        padding: 30px;
        text-align: center;
    }

    footer .section-body {
        padding: 0;
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    footer .section-area {
        height: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: justify;
        padding: 0;
    }

    footer .section-area p {
        text-align: justify;
    }
    
}   